.borderless th, .borderless td {
    border: 0px !important;
}

div.indexstyle p, div.indexstyle th, div.indexstyle td {
	font-family: Cabin;
	font-style: sans-serif;
}

div.indexstyleserious p, div.indexstyle th, div.indexstyle td {
	font-family: Cabin;
	font-style: sans-serif;
}

div.indexstyle h2 {
	font-family: Pacifico;
	font-style: cursive;
}

nav.indexstyle li,  nav.indexstyle a {
	font-family: Cabin;
	font-style: sans-serif;
	color: black;
}
