<!-- Header -->
<div class="row">
	<div class="col-sm-8">
		<br/>
		<blockquote class="blockquote">
		<p style="font-family: 'Pacifico', cursive;"><br/><i>A man in need is a man indeed, yes, indeed a man</i></p>
		<footer>Gibberish Elementary School Notebook</footer>
		</blockquote>
	</div>
	<div class="col-sm-4">
		<br/><br/>
		<a href="{{ site.url }}">
			<img class="img-responsive img-circle center-block" width="85" height="85" src="{{ site.url }}/image/profile_pic.jpg">
			<br/>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 text-primary">
	
	</div>
	<div class="col-sm-4 text-center">
		<a href="https://github.com/frankydotid"><kbd>&nbsp;GitHub&nbsp;</kbd></a>
		<a href="https://twitter.com/frankydotid"><kbd>&nbsp;Twitter&nbsp;</kbd></a>
		<a href="#" data-toggle="popover" data-content="franky.id at gmail dot com" data-placement="bottom"><kbd>&nbsp;Mail Me&nbsp;</kbd></a>
		
	</div>
</div>

<br/>
<br/>